- content_for(:html_title) { '再読日の設定' }

h1.is-size-3-tablet.is-size-6-mobile = "「#{@read_history.book.title}」を読み返す日の設定"

= render 'form', read_history: @read_history
.div.has-text-right
  = link_to '戻る', book_path(@read_history.book)
