@charset 'UTF-8'

body
  min-height: 100vh
  display: flex
  flex-direction: column
  background-color: #fff
  a
    color: #4ec2bb
  h1
    font-weight: bold
main
  flex: 1

.has-background-ecru
  background: #efede0
