@charset 'UTF-8'

header
  nav
    height: 60px
    .logo-title:hover
      opacity: 0.8
    .navbar-item.header-link
      font-size: 14px

@media (min-width: 1024px)
  header
    nav
      .navbar-menu
        .navbar-dropdown
          position: absolute
          left: -80px
