@charset 'UTF-8'


#new-image img.new-img
  width: 400px
  height: 400px
  object-fit: cover

.book-info
  border-bottom: 2px solid #eee

.photo-index
  .photo-section
    max-width: 500px
    height: 540px
    padding: 0 10px
    img
      max-width: 400px
      height: 400px
      object-fit: contain
      display: block
      margin: 10px auto
    .note
      overflow-wrap: normal
      max-width: 400px
      font-size: 14px
      color: #0a0a0a
  .blank-page
    margin: 100px 0

div.photo-post-button-section
  .button
    width:180px
    height: 50px
    border-radius: 10px
    position: fixed
    bottom: 50px
    right: 40px
    p
      color: black

.is-flex.is-justify-content-space-between
  margin-top: 130px
  .delete-button
    a
      text-decoration-line: underline
