@charset 'UTF-8'

.welcome-item
  &-container
    margin: 0 auto
    max-width: 1024px
    p
      width: 70%
      margin: 0 auto
    .image-item
      span
        border: 2px solid #6a6a6a
        padding: 4px 10px
        border-radius: 50%
        font-size: 20px
        color: #6a6a6a
        background-color: #fff
      img
        object-fit: fill
        width: 200px
        height: auto
      img.pb-40
        padding-bottom: 40px
