@charset 'UTF-8'

.welcome-item
  &-container-image
    img.demo-image
      border: 2px solid #6a6a6a
      border-radius: 10px
  .image-container
    .image-item
      span
        border: 2px solid #6a6a6a
        padding: 4px 10px
        border-radius: 50%
        font-size: 20px
        color: #6a6a6a
        background-color: #fff
      img
        width: 200px
        height: 200px

